@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
*{
    background-color: rgb(177, 177, 165);
}
.topnav {
    overflow: hidden;
    margin-top: 0.5px;
    margin-left: 70px;
    margin-right: 25px ;
    text-align: center;
    
}

/* Style the links inside the navigation bar */
.navigate {
    float: left;
    display: block;
    color: #1e0b72;
    margin: auto;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.navigate:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
#active {
  background-color: #0468aa;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
      display: none;
}
.head{
    padding: auto;
    text-align: center;
    font-size: 45px;
    color: rgb(27, 24, 189);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.photo{
    margin-top: 40px;
    text-align: center;
    word-spacing: 290px;
}
#photo1{
    padding: 5px;
    transition: transform .3s;
}
#photo1:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
#photo2{
    padding: 5px;
    transition: transform .3s;
}
#photo2:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.intro{
     
    margin-top: 40px;
    margin-left: 50px;
    padding: 30px;
    font-size: 20px;
}
.vl {
    border-left: 2px solid rgb(125, 0, 184);
    height: 500px;
}
#name{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(163, 68, 0);
    font-weight: bold;
}
#sociallinks{
    text-align: center;
}
#fb{
    color: rgb(23, 16, 119);
    transition: transform .3s;
}
#fb:hover{
    transform: scale(2.0);
}
#insta{
    color: rgb(202, 2, 202);
    transition: transform .3s;
}
#insta:hover{
    transform: scale(2.0);
}
.rule{
    width: 50%;
    height: 0.5px;
    border-color: black;
    background-color: black;
    margin: auto;
    margin-bottom: 40px;
}
.objective{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    
}
#obj{
    font-family: Zen Tokyo Zoo, cursive;
}
#aim{
    font-family: Lucida Calligraphy;
    color: maroon;
}
.academic{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    
}
#records{
    font-family: Castellar;
    color: rgb(112, 2, 2);
}
.l1{
    
    padding: 10px;
    color: darkmagenta;
}
.software{
    
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    
}
.softwareskills{
    
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 4px;
    color: rgb(223, 62, 62);
}
.l2{
    
    font-family: 'Times New Roman', Times, serif;
    padding: 8px;
    color: rgb(0, 0, 0);
}
.other{
    
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    
}
.skills{
    font-family: Rockwell;
    color: rgb(9, 7, 109);
}
.l3{
    
    font-family: 'Courgette', cursive;
    padding: 10px;
    
    color: rgb(22, 21, 21);
}
.achievements{
    
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    
}
.ach{
    
    font-family: Eras Demi ICT;
    color: rgb(8, 95, 46);
}
.l4{
    
    font-family: 'Sriracha', cursive;
    padding: 10px;
    color: rgb(0, 0, 0);
}